APP_NAME=Ongkoleyt
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://api.ongkoleyt.example

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ongkoleyt_payroll
DB_USERNAME=
DB_PASSWORD=

SANCTUM_STATEFUL_DOMAINS=ongkoleyt.example
SESSION_DOMAIN=.ongkoleyt.example
SESSION_SECURE_COOKIE=true
